

<h1>Teachers</h1>

<div><%= link_to 'Main Menu', welcome_index_path %></div>

<h2>Search by Time:</h2>
  <%= form_tag(new_survey_path, method: :get) do %>
    Year <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
  
  <% @prof.each do |prof| %>
    <ul>
      <li><%= link_to prof.name, survey_path(prof) %></li><br>
    </ul>
  <% end %>