<p>
    <strong>Name:</strong>
    <%= @prof.name %>
    
</p>

<p>
    <strong>Year:</strong>
    <%= @teacher.year %>
</p>

<p>
    <strong>Time:</strong>
    <%= @prof.time %>
</p>

<p>
    <strong>Type:</strong>
    <%= @instruct.category %>
</p>

<p>
    <strong>Credits:</strong>
    <%= @instruct.credits %>
</p>

<p>
    <strong>Class style:</strong>
    <%= @instruct.style %>
</p>

<%= link_to 'Teacher List', instruct_index_path %>
